<div>
    <button (click)="apiCalls.doGET()">GET</button>
    <button (click)="apiCalls.doPOST()">POST</button>
    <button (click)="apiCalls.doPUT()">PUT</button>
    <button (click)="apiCalls.doDELETE()">DELETE</button>
    <button (click)="apiCalls.doGETAsPromise()">As Promise</button>
    <button (click)="apiCalls.doGETAsObservable()">As Observable</button>
    <button (click)="apiCalls.doGETAsPromiseError()">Error as Promise</button>
    <button (click)="apiCalls.doGETAsObservableError()">Error as Observable</button>
    <button (click)="apiCalls.doGETWithHeaders()">With Headers</button>
</div>